* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
@font-face {
  font-family: 'iconfont';
  src: url('font/iconfont.eot');
  src: url('fonticonfont.eot?#iefix') format('embedded-opentype'),
      url('font/iconfont.woff2') format('woff2'),
      url('font/iconfont.woff') format('woff'),
      url('font/iconfont.ttf') format('truetype'),
      url('font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.demo{
    margin:100px auto;
     width: 638px;
}
.logo {
    width: 270px;
    height: 129px;
    margin: 0 auto;
}
.demo img{
    width: 270px;
    height: 129px;
    /* margin: 0 auto; */
    cursor: pointer;
}
.sea-box{
    display: flex;
}
.search{
    position: relative;
}
.search input{
    width: 480px;
    height: 20px;
    padding: 9px 48px 9px 7px;
    font-size: 16px;
    border: 1px solid #b8b8b8;
    border-bottom: 1px solid #ccc;
    vertical-align: top;
    border-right: none;
    outline: none;
}
.icon{
    position: absolute;
    top:15px;
    right:11px;
    font-size: 22px;
    line-height: 16px;
    cursor: pointer;
}
.demo button{
    width: 102px;
    height: 40px;
    line-height: 40px;
    background-color: #38f;
    color: #fff;
    font-size: 16px;
    text-align: center;
    outline: none;
    border: none;
}
ul{
    border: 1px solid #ccc;
}